<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Invoices</title>

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>

<div id="wrapper" class="toggled">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/">
          Manage Your Invoices
        </a>
      </li>
      <li>

        <% if(!user) { %>
              <a href="/invoices">Invoice</a>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            </li>
          </ul>
          <% } else { %>
              <span style="color:#999999">Welcome, <%= user.username %></span>
              <a href="/invoices">Invoice</a>
              <a href="/invoices/add"> Pay a Client </a>
              <a href="/logout">Logout</a>

            </ul>
          <% } %>

      </li>
    </ul>
  </div>
