<% include ../partials/header.ejs %>

<main class="container">

    <h1>Invoice Detail</h1>

    <form method="post">
        <fieldset>
            <legend></legend>
            <div class="form-group">
                <label for="nameOfClient" class="col-sm-2 control-label">Name Of Client:</label>
                <input name="nameOfClient" id="nameOfClient" value="<%= invoice.nameOfClient %>" required/>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label">Amount:</label>
                <input name="amount" id="amount" max="10000" value="<%= invoice.amount %>" required/>
            </div>
            <div class="form-group">
                <label for="dateFrom" class="col-sm-2 control-label">Date From:</label>
                <input name="dateFrom" type="date" id="dateFrom" value="<%= dateFrom %>" required/>
            </div>
            <div class="form-group">
                <label for="dateTo" class="col-sm-2 control-label">Date To :</label>
                <input name="dateTo" type="date" id="dateTo" value="<%= dateTo %>" required/>
            </div>
            <button class="btn btn-success col-sm-offset-2">Save</button>
        </fieldset>
    </form>

</main>

<% include ../partials/footer.ejs %>